
/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    
}

h1{
    text-align: center;
    background-color: lightblue;
}

body{
    font-family: 'Oswald', sans-serif;
    
}

body > main{
    text-align: center;
    border: 2px;
    position: absolute;
}